@charset "UTF-8";

.list-group{
	
	text-align:center;
	justify-content:center;
	
	width:100%;
	margin:5px auto;
	padding:20px;
	list-style:none;
	
}

.pagination{
	list-style:none;
	display:flex;
	justify-content:center;
	padding:5px;

}
.pagination li{
	margin:10px;
	border:1px solid #333;
}

.pagination a{
	display:block;
	text-decorration:none;
	color:#333;
	padding:5px;
}
.pagination a:hover{
	background-color:#333;
	color:aliceblue;
	
}
.active{
	background-color:#C2EEFF;
}
.teacher-btn{
	color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.teacher-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

.update-icon:before{
	font-family:'FontAwesome';
	content :"\f01e";
	margin-right: 5px;
}

.logout-btn{
	color: #000;
  background-color: #FF5192;
  border-bottom: 5px solid #B1F9D0;
}

.logout-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #FFD5EC;
  border-bottom: 2px solid #ccc100;
}


.btn--green.btn--emboss {
  color: #00662d;
  text-shadow: -1px -1px 1px #00ff71;
  border-bottom: 5px solid #00662d;
}

.btn--green.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
}
.new-btn{
	color: #000;
  background-color: #99FFFF;
  border-bottom: 5px solid #ccc100;
}

.new-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #99FFFF;
  border-bottom: 2px solid #ccc100;
}
.regist-btn{
	color: #000;
  background-color: #AEFFBD;
  border-bottom: 5px solid #B1F9D0;
}

.regist-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #B1F9D0;
  border-bottom: 2px solid #B1F9D0;
}


