@charset "UTF-8";
.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}
.regist-btn{
	color: #000;
  background-color: #AEFFBD;
  border-bottom: 5px solid #B1F9D0;
}

.regist-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #B1F9D0;
  border-bottom: 2px solid #B1F9D0;
}