@charset "UTF-8";
.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}
.new-btn{
	color: #000;
  background-color: #99FFFF;
  border-bottom: 5px solid #ccc100;
}

.new-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #99FFFF;
  border-bottom: 2px solid #ccc100;
}